

<main class="main">
  <div class="content">
    <div class="left-side">

      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
<nav>
  <ul>
    <li><a routerLink="/ressources-humaines" routerLinkActive="active" ariaCurrentWhenActive="page">Ressources</a></li>
    <!-- <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li> -->
  </ul>
</nav>
    </div>

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
